body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding:0;
  min-width: 1232px;
}
h1,h2,h3,h4{
  margin:0;
  padding:0;
}
.fl{
  float:left;
}
.fr{
  float: right;
}
a{
  color:white;
  text-decoration: none;
}
ul,ol{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header{
  background: #323339;
  min-width: 1232px;
}
.content{
  height:90px;
  width:1232px;
  margin: 0 auto;
  overflow: hidden;
}
.logo{
  width:221px;
  height:63px;
  padding-top: 27px;
}
.find{
  margin-left: 5px;
  float:left;
  margin-bottom: 10px;
}
.class{
 margin-left: 50px;
}
.class li{
  font-size: 16px;
  height:90px;
  line-height: 90px;
  margin: 0 30px;
}
.class li:hover a{
  color:orangered;
}
.login span{
  color:white;
}
.login li{
  height: 85px;
  line-height: 90px;
  margin: 0 10px;
  border-bottom: 5px solid #323339;
}
#down_line{
  border-bottom: 5px solid orangered;
}
.login li:hover a{
  color: orangered;
}
.foot{
  min-width: 1232px;
}
.foot_one{
  height:303px;
  background:#323339 ;
}
.foot_two{
  height:54px;
  border-top:1px solid #3b3c41;
  background: #2d2e34;
}
.login{
      display: block;
}
.out{
  display: none;
}
.out li{
  line-height: 90px;
}