//
   Created by lanou on 16/11/17.
div.header
    div.content
        div.logo.fl
            a(href="/")
                img.fl(src="/images/logo.png")
                div.find
                    img(src="http://www.jingyingba.com/Public/home/images/logo_bef.png")
        ul.fl.class
            li.fl
                a(href="/class/type=1") 直播
            li.fl
                a(href="/class/type=2") 点播
        ul.fr.login
            li.fl
                a(href="/login") 登录
            li.fl
                span |
            li.fl
                a(href="/reg") 注册
        ul.fr.out
            li
                a.out_btn(href="") 注销
    script(src="/js/state.js")

