extends layout

block content
  link(rel="styleSheet",href='/stylesheets/index.css')
  div.main
    div.banner
      ul
        li.fl
          a(href="/")
            span.ios
            h2 IOS
        li.fl
          a(href="/")
            span.h5
            h2 HTML 5
        li.fl
          a(href="/")
            span.u3d
            h2 Unity 3D
        li.fl
          a(href="/")
            span.more
              div.dian
                em
                em
                em
            h2 More
