//
   Created by lanou on 16/11/17.
extends layout

block content
    link(rel="styleSheet",href='/stylesheets/login.css')
    div.bg
        div.zhong
            div.box
                div.longinhead
                    div.fl#ac 登录
                    div.fl 注册
                div.info1.info#show
                    input.i.username(type="text" placeholder="用户名")
                    input.i.password(type="password" placeholder="密码")
                    input.i(type="text" placeholder="验证码")
                    div.remember
                        input.fl(type="checkbox")
                        span.fl 记住我
                        a.fr(href="") 忘记密码
                    p.msg1
                    div.btn1 登录
                div.info2.info
                    input.i.username(type="text" placeholder="用户名")
                    input.i(type="text" placeholder="注册码")
                    input.i.password1(type="password" placeholder="密码")
                    input.i.password2(type="password" placeholder="再次输入密码")
                    div.remember
                        input.fl(type="checkbox")
                        span.fl 同意网站条款
                    p.msg2
                    div.btn2 提交
        script(src="/js/login.js")
        script(src="/js/ajax.js")
